<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.company.bpmcourse/menu.application.title">
        <item view="User.list" title="msg://com.company.bpmcourse.view.user/UserListView.title"/>
        <item view="AdvancedTaskListView"
              title="msg://com.company.bpmcourse.view.advancedtasklist/advancedTaskListView.title"/>
        <item view="PizzaItem.list" title="msg://com.company.bpmcourse.view.pizzaitem/pizzaItemListView.title"/>
        <item view="OrderLine.list" title="msg://com.company.bpmcourse.view.orderline/orderLineListView.title"/>
        <item view="PizzaOrder.list" title="msg://com.company.bpmcourse.view.pizzaorder/pizzaOrderListView.title"/>
        <item view="Recipe.list" title="msg://com.company.bpmcourse.view.recipe/recipeListView.title"/>
        <item view="Account.list" title="msg://com.company.bpmcourse.view.account/accountListView.title"/>
    </menu>
    <menu opened="true" id="bpm" title="msg://io.jmix.bpmflowui/menu.bpm.title">
        <item view="ToolView" description="msg://com.company.bpmcourse/menu_config.ToolView.description"
              title="msg://com.company.bpmcourse/menu_config.ToolView.title"/>
        <item view="bpm_StartProcess" title="msg://io.jmix.bpmflowui/startProcess.title"/>
        <item view="bpm_MyTasksList" title="msg://io.jmix.bpmflowui.view.mytasks/myTasksList.title"/>
        <item view="bpm_BpmnModelerView" title="msg://io.jmix.bpmflowui.view.modeler/bpmnModelerView.title"/>
        <item view="bpm_ProcessDefinition.list"
              title="msg://io.jmix.bpmflowui.view.processdefinition/processDefinitionList.title"/>
        <item view="bpm_ProcessInstance.list"
              title="msg://io.jmix.bpmflowui.view.processinstance/processInstanceList.title"/>
        <item view="bpm_UserGroup.list" title="msg://io.jmix.bpmflowui.view.usergroup/userGroupList.title"/>
        <item view="bpm_AllTasksView" title="msg://io.jmix.bpmflowui.view.alltasks/allTasksView.title"/>
        <item view="bpm_DmnDecisionTableListView"
              title="msg://io.jmix.bpmflowui.view.dmndecisiontable/decisionTable.title"/>
        <item view="bpm_DecisionTableModelerView"
              title="msg://io.jmix.bpmflowui.view.decisiontablemodeler/bpm_DecisionTableModelerView.title"/>
    </menu>
    <menu id="security" title="msg://com.company.bpmcourse/menu.security.title">
        <item view="sec_ResourceRoleModel.list"
              title="msg://io.jmix.securityflowui.view.resourcerole/resourceRoleModelListView.menu"/>
        <item view="sec_RowLevelRoleModel.list"
              title="msg://io.jmix.securityflowui.view.rowlevelrole/rowLevelRoleModelListView.menu"/>
    </menu>
    <menu id="datatools" title="msg://com.company.bpmcourse/menu.datatools.title">
        <item view="datatl_entityInspectorListView"
              title="msg://io.jmix.datatoolsflowui.view.entityinspector/listTitle"/>
    </menu>
    <menu id="quartz">
        <item view="quartz_JobModel.list" title="msg://io.jmix.quartzflowui.view.jobs/jobModelListView.menu"/>
    </menu>
</menu-config>